
.L {
    text-align: center;
    display: block;
    padding: 24px;
    margin-bottom: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    &::after {
        content: "L";
        font-weight: 300;
        font-size: 68px;
        text-align: center;
        color: #ffffffff;
        border: 6px solid #ffffffff;
        border-radius: 1000px;
        padding: 6px 30px;
    }
}
