---
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
        <meta property="og:type" content="website">
        <meta name="twitter:card" content="summary">
        {% if not eleventyExcludeFromCollections %}
        <meta name="url" content="{{ site.url }}{{ page.url | url }}">
        <link rel="canonical" href="{{ site.url }}{{ page.url | url }}">
        <meta property="og:url" content="{{ site.url }}{{ page.url | url }}">
        <meta name="twitter:url" content="{{ site.url }}{{ page.url | url }}">
        {% endif %}
        {% if description %}
        <meta name="description" content="{{ description }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="twitter:description" content="{{ description }}">
        {% endif %}
        {% if title %}
        <title>{{ title }}</title>
        <meta property="og:title" content="{{ title }}">
        <meta name="twitter:title" content="{{ title }}">
        {% endif %}
        <link rel="stylesheet" href="{{ 'css/style.css' | url }}">
        <link rel="icon" href="{{ 'favicon.svg' | url }}">
    </head>
    <body>
        {{ content | safe }}
  </body>
</html>
