// Main

$background: linear-gradient(135deg, #49ffb3f3, #1386b0f3), #1386b0f3;
$primary-color: #ffffff;

body {
  background: $background;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88svh;
}
  
main {
  padding: 16px;
  margin: 20px;
}
  
h1, h2, h3, h4, h5, h6, p, .button, .title {
  color: $primary-color;
}
  
.title {
  font-size: 44px;
  text-align: center;
  margin: 28px 0 32px;

  @media screen and (width >= 768px) {
    font-size: 48px;
  }

  @media screen and (width >= 1024px) {
    font-size: 52px;
  }
}
  
.links-list {
  list-style: none;
  margin: 0 auto;
  padding: 0 4px;
}
  
.button {
  font-size: 22px;
  display: block;
  width: 100%;
  color: $primary-color;
  background-color: transparent;
  border: 2px solid $primary-color;
  border-radius: 1000px;
  padding: 8px 0;
  margin: 28px 0;
  text-align: center;
  text-decoration: none;
  transition: transform .15s;
  will-change: transform;

  &:hover {
    transform: perspective(1px) scale(1.02);
  }

  @media screen and (width >= 768px) {
    font-size: 24px;
  }

  @media screen and (width >= 1024px) {
    font-size: 26px;
  }
}
