---
layout: layouts/main.njk
title: Not Found :( | Lukáš Ondrejka
description: 404 Not Found
eleventyExcludeFromCollections: true
---
<div class="box">
  <main>
    <h1 class="title">404 Not Found</h1>
  </main>
</div>
