// Layout

$body-background: linear-gradient(135deg, #49ffb3f3, #1386b0f3), #1386b0f3;

* {
    margin: 0;
    padding: 0;
}

html,
body {
  min-width: 100%;
  min-height: 100svh;
  overflow-x: hidden !important; 
  user-select: none;
}

body {
  background: $body-background;
}
