// Main

$white: #ffffff;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 88svh;
}
  
main {
  padding: 16px;
  margin: 20px;
}
  
h1, h2, h3, h4, h5, h6, p, .button, .title {
  color: $white;
}
  
.title {
  font-size: 44px;
  text-align: center;
  margin: 28px 0 32px;

  @media screen and (width >= 768px) {
    font-size: 48px;
  }

  @media screen and (width >= 1024px) {
    font-size: 52px;
  }
}
  
.links-list {
  list-style: none;
  margin: 0 auto;
}
  
.button {
  font-size: 22px;
  display: block;
  width: 100%;
  background-color: transparent;
  border: 2px solid $white;
  color: $white;
  padding: 8px 0;
  margin: 28px 0;
  border-radius: 1000px;
  text-align: center;
  text-decoration: none;
  transition: transform .15s;
  will-change: transform;

  &:hover {
    transform: perspective(1px) scale(1.02);
  }

  @media screen and (width >= 768px) {
    font-size: 24px;
  }

  @media screen and (width >= 1024px) {
    font-size: 26px;
  }
}

.display-none {
  display: none;
}
